



/* GENERAL */








*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-family: 'baloo 2',Arial,sans-serif;
    font-size: 1rem;
}

p{
    text-align: center;
    margin-bottom: 1rem;
}

p, label, input, textarea{
    font-family: 'baloo 2', sans-serif;
    font-size: 1.2rem;
   
}

h1{
    font-family: 'baloo 2', sans-serif;
    font-size: 3rem;
    color: #005b4f;
}

h2{
    font-family: 'baloo 2', sans-serif;
    border-top: 0.2rem solid #4ebaaa;
    border-bottom: 0.2rem solid #4ebaaa;
    height: auto;
    margin-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
    color: #9a0007 ;
    text-shadow: #4ebaaa 0.2rem 0.1rem 0.2rem;
    text-transform: uppercase;
}

.wrapper{
    width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.point{
    color: #d32f2f;
}

article{
    height: 28rem;
    width: 28rem;
    border-radius: 1rem;
}


.bloc{
    width: 60rem;
    height: 60rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hidden {
    display:none;
}



.description{
    margin: auto;
    font-size: 2rem;
    text-align: center;
    color: #9a0007 ;
    text-shadow: #4ebaaa 0.5rem 0.1rem 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255,255,255, 0.95);

}







/* HEADER */




/* NEW NAVBAR RESPONSIVE + HAMB */


header{
    height: 5rem;
}

header h1{
    float: right;
}



.navbar{
    position: absolute;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 60rem;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color: #005b4f;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin:0 1rem;
    text-transform: uppercase;
    font-weight: 400;    
}

.navbar .nav-links ul li.active a{
    color: #d32f2f;
    font-weight: 600;    
}


.menu-hamburger{
    display: none;
    position: absolute;
    font-size: 3rem;
    top: 0.5rem;
    left: 3rem;
}


/* faire disparaitre nav sous 960 px de large ) */
@media screen and (max-width: 960px) {
    header .wrapper .menu-hamburger {
        display: block;
    }
    .navbar {
       padding: 0; 
    }
    .nav-links {
        top: 0;
        left: 10rem;
        margin: 0;
        position: relative;
        padding-top: 1rem;
        width: 15rem;
        height: 4rem;
        display: flex;
        backdrop-filter: blur(3px);  
        margin-left: -100%;   
        transition: all 0.5s ease;

        
    }
    
    .nav-links ul {
         display: flex;        
         
         justify-content: space-evenly;
         align-items: center;
    }
    

    .mobile-menu{
        margin-left: 0;
    }
}

    







/* OLD NAVBAR



header nav{
    float: left;
    margin-top: 3rem;
}

header nav ul li{
    display: inline-block;
    
}

header nav ul li a{
    text-transform: uppercase;
    color: #00897b;  
    background-color: #d32f2f24;
    width: 8rem;  
    margin-top: 1rem;  
    text-align: center;
    text-decoration: none;
    font-weight: bold;    
    display: inline-block;
}



*/







/*SECTION ACCUEIL*/







#accueil{
    background: url('../images/jour.jpg') center no-repeat;
    height: 40rem;
    box-shadow: 0 0 1rem 0.5rem white inset;
    position: relative;       
}


#but1, #but2{

position: relative;
width: 10rem;
margin:auto;
padding-top: 35rem;


}

#tempo, #tempo2 {
    
    display: flex; 
    justify-content: center;
    position: absolute;
    margin; auto;
    width: 10rem;
    height: 3rem;
    background: #9a0007;
    color: #4ebaaa;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    line-height: 3rem;
    box-shadow: 0 0 0.2rem 0.2rem #4ebaaa inset;
}

#tempo:hover, #tempo2:hover{
    color: #4ebaaa;
    transform: scale(1.2);
    transition: all ease 500ms;
}










/*SECTION DESTINATION*/







#chine{
    background: url('../images/chine1.jpg');
    background-position: center;  
    background-size: contain;
    transition: 1s;
       
}

#chine:hover{
    background: url('../images/chine2.jpg');
    background-position: center;  
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;      
}

#mars{
    background: url('../images/mars1.png');   
    background-position: center;    
    background-size: contain;
    transition: 1s;
}
#mars:hover{
    background: url('../images/mars2.jpg');   
    background-position: center;    
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}

#nevers{
    background: url('../images/nevers1.jpg'); 
    background-position: center;   
    background-size: contain;
    transition: 1s;
}

#nevers:hover{
    background: url('../images/nevers2.jpg'); 
    background-position: center;   
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}


#anta{
    background: url('../images/anta1.jpg');  
    background-position: center; 
    background-size: contain;   
    transition: 1s;
}

#anta:hover{
    background: url('../images/anta2.jpg');  
    background-position: center; 
    background-size: contain;  
    transform: scale(1.1);
    transition: 1s;

}








/*SECTION ACTIVITES*/







#api{
    background: url('../images/api1.jpg');
    background-position: center;  
    background-size: contain;
    transition: 1s;
       
}

#api:hover{
    background: url('../images/api2.jpg');
    background-position: center;  
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;      
}

#poule{
    background: url('../images/poule1.jpg');   
    background-position: center;    
    background-size: contain;
    transition: 1s;
}
#poule:hover{
    background: url('../images/poule2.jpg');   
    background-position: center;    
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}

#star{
    background: url('../images/star1.jpg'); 
    background-position: center;   
    background-size: contain;
    transition: 1s;
}

#star:hover{
    background: url('../images/star2.jpg'); 
    background-position: center;   
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}


#niksen{
    background: url('../images/niksen1.jpg');  
    background-position: center; 
    background-size: contain;   
    transition: 1s;
}

#niksen:hover{
    background: url('../images/niksen2.jpg');  
    background-position: center; 
    background-size: contain;  
    transform: scale(1.1);
    transition: 1s;

}






/*SECTION CONTACT*/


form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#haut{
    display: block;
    width: auto;
    height: 10rem;      
    align-items: center;
}
#bas{
    margin-top: 3rem;    
    align-items: center;
}










/* FOOTER */



footer{
    margin-top: 10rem;
    height: 40rem;
    align-items: center;
}

#follow{
    display: flex;
    font-size: 2rem;
    height: 3rem;
    width: 25rem;
    margin: auto;
    font-size: 2rem; 
    background-color: #4ebaaa28;
    border-radius: 0.3rem;  
}

.reseaux{
    display: flex;
    height: 3rem;
    width: 15rem;
    margin: 1rem auto;
    font-size: 3rem;    
}

footer div{
    text-align: center;
}


#but3{
    text-align: center;
    display: block;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    color: #4ebaaa;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    margin: 1rem auto;
    line-height: 3rem;
    box-shadow: 0 0 0.2rem 0.2rem #4ebaaa inset;
}





















