



/* GENERAL */








*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial,sans-serif;
    font-size: 1rem;
}

p{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p, label, input, textarea{
    font-family: 'baloo 2', sans-serif;
    font-size: 1rem;
   
}

h1{
    font-family: 'baloo 2', sans-serif;
    font-size: 3rem;
    color: #005b4f;
}

h2{
    font-family: 'baloo 2', sans-serif;
    border-top: 0.2rem solid #4ebaaa;
    border-bottom: 0.2rem solid #4ebaaa;
    height: auto;
    margin: 2.5rem auto 2rem;
    font-size: 4rem;
    text-align: center;
    color: #9a0007 ;
    text-shadow: #4ebaaa 0.2rem 0.1rem 0.2rem;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.point{
    color: #d32f2f;
}

article{
    height: 28rem;
    width: 28rem;
    border-radius: 1rem;
}


.bloc{
    width: 60rem;
    height: 60rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hidden {
    display:none;
}



.description{
    margin: auto;
    font-size: 2rem;
    text-align: center;
    color: #9a0007 ;
    text-shadow: #4ebaaa 0.5rem 0.1rem 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255,255,255, 0.95);

}







/* HEADER */







header{
    height: 7.5rem;
}

header h1{
    float: left;
    margin-top: 2rem;
}

header nav{
    float: right;
    margin-top: 3rem;
}

header nav ul li{
    display: inline-block;
    
}

header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    color: #00897b;  
    width: 8rem;  
    margin-top: 1rem;  
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 0.5rem #4ebaaa;
}

header nav ul li a:hover{
    color: #d32f2f;
    transform: scale(1.2);
    transition: all ease 500ms;
}






/*SECTION ACCUEIL*/



#h2s
{
    background-color: #9a0007;
}





#accueil{
    background: url('../images/jour.jpg') center no-repeat;
    height: 40rem;
    box-shadow: 0 0 1rem 0.5rem white inset;
}



#tempo, #tempo2 {
    text-align: center;
    display: block;
    width: 10rem;
    height: 3rem;
    background: #9a0007;
    color: #4ebaaa;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    margin: 28rem auto;
    line-height: 3rem;
    box-shadow: 0 0 0.2rem 0.2rem #4ebaaa inset;
}

#tempo:hover, #tempo2:hover{
    color: #4ebaaa;
    transform: scale(1.2);
    transition: all ease 500ms;
}







/*SECTION DESTINATION*/







#chine{
    background: url('../images/chine1.jpg');
    background-position: center;  
    background-size: contain;
    transition: 1s;
       
}

#chine:hover{
    background: url('../images/chine2.jpg');
    background-position: center;  
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;      
}

#mars{
    background: url('../images/mars1.png');   
    background-position: center;    
    background-size: contain;
    transition: 1s;
}
#mars:hover{
    background: url('../images/mars2.jpg');   
    background-position: center;    
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}

#nevers{
    background: url('../images/nevers1.jpg'); 
    background-position: center;   
    background-size: contain;
    transition: 1s;
}

#nevers:hover{
    background: url('../images/nevers2.jpg'); 
    background-position: center;   
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}


#anta{
    background: url('../images/anta1.jpg');  
    background-position: center; 
    background-size: contain;   
    transition: 1s;
}

#anta:hover{
    background: url('../images/anta2.jpg');  
    background-position: center; 
    background-size: contain;  
    transform: scale(1.1);
    transition: 1s;

}








/*SECTION ACTIVITES*/







#api{
    background: url('../images/api1.jpg');
    background-position: center;  
    background-size: contain;
    transition: 1s;
       
}

#api:hover{
    background: url('../images/api2.jpg');
    background-position: center;  
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;      
}

#poule{
    background: url('../images/poule1.jpg');   
    background-position: center;    
    background-size: contain;
    transition: 1s;
}
#poule:hover{
    background: url('../images/poule2.jpg');   
    background-position: center;    
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}

#star{
    background: url('../images/star1.jpg'); 
    background-position: center;   
    background-size: contain;
    transition: 1s;
}

#star:hover{
    background: url('../images/star2.jpg'); 
    background-position: center;   
    background-size: contain;
    transform: scale(1.1);
    transition: 1s;
}


#niksen{
    background: url('../images/niksen1.jpg');  
    background-position: center; 
    background-size: contain;   
    transition: 1s;
}

#niksen:hover{
    background: url('../images/niksen2.jpg');  
    background-position: center; 
    background-size: contain;  
    transform: scale(1.1);
    transition: 1s;

}






/*SECTION CONTACT*/













/* FOOTER */

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#haut{
    display: block;
    width: auto;
    height: 10rem;  
}
#bas{
    margin-top: 3rem;
    text-align: center;
}

textarea {
    resize: none;
  }






